html {
		margin: 0;
		padding: 0;
		background-color: #CCCCCC;
	}
body {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #FFFFFF;
		
	}
h1 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: #000000;
		padding-top: 10px;
		padding-bottom: 4px;
		border-radius: 10px;
		background: #FF6600;
		width: 960px;
		text-align: center;
		font-weight: lighter;
	}
h2 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 18px;
		color: #000000;
		padding-top: 10px;
		padding-bottom: 4px;
		padding-left: 5px;
		border-radius: 10px;
		background: #FF6600;
		width: 960px;
		text-align: left;
		font-weight: lighter;
	}
h3 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #FF6600;
		padding-top: 10px;
		padding-bottom: 4px;
		
		background: #000000;
		
		text-align: left;
		font-weight: lighter;
	}
a {
		color: #FF6600;
		text-decoration: none;
		font-weight: bold;
		background-color: #000000;
	}
	
	a:hover {
		color: #000000;
		text-decoration: none;
		background-color: #FF6600;
	}
.mainbackground{
		background: #000000;
		border-radius: 18px;
		width: 960px;
		padding-right: 18px;
		padding-left: 18px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 20px;
		margin-bottom: auto;
	}
.clock {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 17px;
		color: #FF6600;
		padding-left: 5px;
		padding-top: 8px;
	}
.logo {
		border-radius: 18px;
		background: #FFFFFF;
		height: 60px;
		padding-left: 18px;
		padding-top: 18px;
		
	}
.links {
		border-radius: 10px;
		background: #000000;
		height: 28px;
		padding-left: 18px;
		padding-top: 12px;
		vertical-align: middle;
		
	}
.navlink{
		
		vertical-align: middle;
		font-size: 17px;
		font-weight: normal;
	}